

/* ヘッダー */

.infomation{
  background-color: aquamarine;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  height: 100px;
  width: 100%;
}

.title a{
  margin-left: 50px;
  color: gray;
}

.button a {
  text-decoration: none;
  list-style: none;
  margin-right: 50px;
}

a{
  text-decoration: none;
}

ul{
  display: flex;
}

li {
  list-style: none;
}

.button-list{
  margin-right: 20px;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/* 新規投稿 */

.form{
  height: 100%;
  width: 70vh;
  margin:50px auto 0;
}
.memo-form__title{
  width: 100%;
}

.memo-form__detail{
  height: 120px;
  width: 100%;
}

/* 一覧表示機能 */

.new_link{
  font-size: 30px;
  padding: 20px;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list{
  margin: 10px;
}

.image{
  height: 500px;
  width: 500px;
  border: solid 5px aquamarine;
  border-radius: 15px ;
}

.content{
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
}

.importance{
  color:red;
}

/* 詳細ページ */

.show-item{
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.top-content{
  width: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.item-price-box {
  height: 80vh;
  width: 80vh;
  margin: 25px 0px;
}

.show-items{
  margin: 10px 0;
}